<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{{ page.title }}</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">


<!-- Custom CSS -->
<link rel="stylesheet" href="/css/main.css">
<link href="https://fonts.googleapis.com/css?family=Viga" rel="stylesheet">

<meta name="description" content="{{ page.title }}" />

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="{{ page.title }}">
<meta itemprop="description" content="{{ page.description }}">
<meta itemprop="image" content="/images/header-portrait.jpg">

<!-- Open Graph data -->
<meta property="og:title" content="{{ page.title }}">
<meta property="og:type" content="website">
<meta property="og:url" content="http://www.gustavoluciano.com.br/">
<meta property="og:image" content="/images/header-portrait.jpg">
<meta property="og:description" content="{{ page.description }}">
<meta property="og:site_name" content="{{ page.title }}">

<script type='application/ld+json'>
  {
    "@context": "http://www.schema.org",
    "@type": "person",
    "@id": "http://gustavoluciano.com.br",
    "name": "Gustavo Luciano",
    "jobTitle": "Ui Designer/Front-end",
    "url": "http://gustavoluciano414@gmail.com",
    "image": "http://gustavoluciano.com.br/images/header-portrait.jpg",
    "email": "gustavoluciano414@gmail.com"
  }
  </script>