<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h3 class="h1">Alguns de meus trabalhos Como Designer/Front-End</h3>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <p>Importante: Os trabalhos abaixo foram desenvolvidos entre os periodos de <strong>2013 - 2016</strong>,
              em parceria com a agencia <a href="http://integramd.com.br/">Integra Marketing Digital</a>. Exceto do 2º.
              item: pela agencia <a href="https://conteudofreela.com.br/">Conteudo.Freela</a></p>
          </div>
        </div>
      </div>

      {% assign portfolio = site.data.portfolio | sort: "year" %}

      {% for image in portfolio reversed %}
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 portfolio-item">
        <a href="{{ site.baseurl }}{{ image.src }}" data-lity data-lity-desc="Portfolio" style="background-image: url('{{ site.baseurl }}{{ image.thumb }}')">
          <img src="{{ site.baseurl }}{{ image.thumb }}" class="img-responsive" alt="{{ image.legend }}">
          <span class="year rounded-right">{{ image.year }}</span>
        </a>
      </div>
      {% endfor %}

    </div>
  </div>
</section>