<div id="site-hero" class="bio">

  <div class="container">
    
    <div class="bio-portrait">    
    </div><!-- .bio-portrait -->

    <div class="bio-text">

      <span class="greatings">Eai, belê?</span>
      <h1>Gustavo Luciano</h1>      
      <h2>Sou <em>Designer Digital</em><br> apaixonado pela internet.</h2>
      <p class="bio-short-desc">Adoro projetar interfaces simples e úteis para o usuário, sempre com foco na experiência, usabilidade & performance.</p>

      <h2>Conexões:</h2>
      
      <p class="sm">
        <a href="https://www.facebook.com/gustavaum">Facebook</a>
        <br>
        <a href="https://www.instagram.com/gustavaum/">Instagram</a>
        <br>
        <a href="https://www.linkedin.com/in/gustavaum/">Linked-in</a>
        <br>
        <a href="https://github.com/gustavaum">GitHub</a>
        <br>
        <a href="https://twitter.com/gustavaum">Twitter</a>
      </p>

    </div><!-- .bio-text -->

  </div>

</div>