/*
 * fonts
 */

$body-font:  'Playfair Display', serif;
$heading-font:  'Playfair Display', serif;

/*
 * Cores
 */


$amarelo:     #e9ac00;
$azul:        #577b90;
$azul-claro:  #cedbe4;

$amarelo-claro: lighten($amarelo, 30%);
$amarelo-escuro: darken($amarelo, 20%);


$cinza: #666;
$cinza-claro: #ccc;
$cinza-escuro: #333;